{% extends "main.html" %}
{%block contents %}

<!-- 로그인 입력 검증-->
<script>                    
    function checkmemb(){
        if($("input[name=id]").val() == ""){
            alert("ID를 입력해주세요.");
            $("input[name=id]").focus();
            return false;
        }
        if($("input[name=pw]").val() == ""){
            alert("비밀번호를 입력해주세요.");
            $("input[name=pw]").focus();
            return false;
        }
        return true;
    }
</script>
<div class="wrapper">
    <div id="header">
        <h1>My Diary</h1>
        <p>Write Your Daily Life</p>
    </div>
</div>
<div class="wrapper">
    <div id="topbar">
        <div class="fl_left">2015112228 오원주 | Mail: ows969@naver.com</div>
        <br class="clear" />
    </div>
</div>
<div style="display:flex; justify-content: space-between; align-items:space-between; min-height:100vh; margin:-10px 0 0 0px;">
    
    <form name = "form" action="{{url_for('member.login')}}" method = "POST" onsubmit = "return checkmemb()">
    {% if next_url %}
            <input type="hidden" name="next_url" value = "{{next_url}}">
    {% endif %}
    <div class="form-group">
        <label for="id">아이디 / Email형식</label>
        <input class = "form-control" type="text" name="id">
    </div>
    <div class="form-group">
        <label for="pw">비밀번호</label>
        <input class = "form-control" type="password" name="pw">
    </div>
    <p></p>
    <div class="text-center"><input type ="submit" value = "로그인" class = "btn btn-primary"></div>
</form>

</div>

{% endblock %}